<div class="adding-container">
  <form [formGroup]="newTest">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title"/>
      <mat-error *ngIf="newTest.controls['title'].errors">{{newTest.controls['title'].errors['text']}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput type="text" formControlName="description"/>
      <mat-error *ngIf="newTest.controls['description'].errors">{{newTest.controls['description'].errors['text']}}</mat-error>
    </mat-form-field>

    <ng-container>
      <ol formArrayName="questions">
        <li class="questions-card" *ngFor="let question of questions.controls; let i = index" [formGroupName]="i">
          <h3>Question {{i + 1}}</h3>
          <mat-form-field class="question-field">
            <mat-label>Text</mat-label>
            <input matInput type="text" formControlName="text"/>
            <mat-error *ngIf="questions.controls[i].errors">{{questions.controls[i].errors?.['text']}}</mat-error>
          </mat-form-field>
          <br>

          <ol class="answers-container" formArrayName="answers">
            Answers
            <li *ngFor="let answer of getAnswers(i).controls; let j = index" [formGroupName]="j">
              <mat-form-field class="answer-field">
                <input matInput type="text" formControlName="text">
                <mat-error *ngIf="getAnswers(i).controls[j].errors">{{getAnswers(i).controls[j].errors?.['text']}}</mat-error>
              </mat-form-field>
            </li><br>
          </ol>

          <button (click)="addAnswer(i)">Add answer to question {{i + 1}}</button>
        </li>
      </ol>
      <button (click)="addQuestion()">Add question</button>
    </ng-container>
    <button type="button" (click)="onSubmitTest()">Submit</button>
  </form>
</div>
