<div class="questionContainer">
  <div *ngFor="let question of test.questions">
    <h3>{{question.text}}</h3>
    <select class="answerSelector" #selectedItem>
      <option>{{question.firstVariant}}</option>
      <option>{{question.secondVariant}}</option>
      <option>{{question.thirdVariant}}</option>
      <option>{{question.fourthVariant}}</option>
    </select>
  </div>
  <div *ngIf="test.finished" class="res"><h1 >Result: {{test.result}}</h1></div>
  <button *ngIf="!test.finished" (click)="onSubmit()">Submit</button>
</div>
