<div>
  <label for="firstName">First Name</label><br>
  <input type="firstName" #firstNameField><br>
  <label for="lastName">Last Name</label><br>
  <input type="lastName" #lastNameField><br>
  <label for="email">Email</label><br>
  <input type="email" #emailField><br>
  <label for="password">Password</label><br>
  <input type="password" #passwordField><br>
  <button class="signUp" (click)="userRegister(firstNameField.value, lastNameField.value, emailField.value, passwordField.value)">Sign up</button>
  <button class="signIn" (click)="changeToRegisterState()">Sign in</button>
</div>
