div{
  display: inline;
  float: right;
}
input[type="password"]{
  position: relative;
  margin-top: 8px;

}
button{
  cursor:pointer;
  background: navy;
  color: aliceblue;
  padding: 4px 12px;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  position: relative;

}
.logOut{
  margin-top: 4px;
}
.logIn{
  margin-top: 8px;
}
