<div class="contacts-container">
  <div class="other-helpful-links">
    <ul>
    <li>
    <a routerLink="about">About</a>
    </li>
    <li>
    <a routerLink="projects">Projects</a>
    </li>
    <li>
    <a routerLink="blogs">Blogs</a>
    </li>
    </ul>
  </div>
  <div class="partners">
    <ul>
      <li>
        <a>Partners</a>
      </li>
    </ul>
  </div>
  <div class="contacts">
    <h4 >T&PTeam</h4>
    <address>
    <ul>
    <li>
    <span>89111, м. Ужгород, вул. Собранецька, 15</span>
    </li>
    <li>
    <a>+380 99 288 02 28</a>
    </li>
    <li >
    <a  >+380 99 558 33 28</a>
    </li>
    <li>
    <a>+380 99 128 44 28</a>
    </li>
    <li>
    <a>zmrex633@gmail.com</a>
    </li>
    </ul>
    </address>
  </div>
  <div class="social-links">
    <ul>
      <li>
      <a href="" target="_blank" rel="noopener noreferrer nofollow" aria-label="Link to social networs">Instagram
      <img src="https://goit.global/app/themes/goit-global/public/images/social/inst.a54f3d.svg" alt="логотип соціальної мережі inst" width="25" height="24" data-pagespeed-url-hash="4009245121" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
      </a>
      </li>
      <li>
      <a href="" target="_blank" rel="noopener noreferrer nofollow" aria-label="Link to social networs">Telegram
      <img src="https://goit.global/app/themes/goit-global/public/images/social/tg.2f8dd8.svg" alt="логотип соціальної мережі tg" width="25" height="24" data-pagespeed-url-hash="654173117" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
      </a>
      </li>
      <li>
      <a href="" target="_blank" rel="noopener noreferrer nofollow" aria-label="Link to social networs"> YouTube
      <img src="https://goit.global/app/themes/goit-global/public/images/social/youtube.53f6b7.svg" alt="логотип соціальної мережі youtube" width="25" height="24" data-pagespeed-url-hash="170850524" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
      </a>
      </li>
      <li>
      <a href="" target="_blank" rel="noopener noreferrer nofollow" aria-label="Link to social networs"> Facebook
      <img src="https://goit.global/app/themes/goit-global/public/images/social/fb.beef57.svg" alt="логотип соціальної мережі fb" width="25" height="24" data-pagespeed-url-hash="1253145418" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
      </a>
      </li>
      <li>
      <a href="" target="_blank" rel="noopener noreferrer nofollow" aria-label="Link to social networs">LinkedIn
      <img src="https://goit.global/app/themes/goit-global/public/images/social/in.060371.svg" alt="логотип соціальної мережі in" width="25" height="24" data-pagespeed-url-hash="1509895034" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
      </a>
      </li>
      </ul>
  </div>
</div>
