<div class="hero-content">
  <div id="hero-main-container">
    <h1 id="hero-title" class="title is-2 font-weight-semibold">.NET Certification</h1>
    <p id="hero-summary" class="not-authenticated margin-top-xxs">Whether you're just starting or an experienced professional, our hands-on approach helps you arrive at your goals faster, with more confidence and at your own pace.</p>
    <p id="authenticated-summary" class="authenticated margin-top-xxs">Master core concepts at your speed and on your schedule. Whether you've got 15 minutes or an hour, you can develop practical skills through interactive modules and paths.</p>

    <div class="buttons margin-top-xs">
      <a class="button has-inner-focus button-clear border" href="https://learn.microsoft.com/en-us/training/browse" target="_blank" data-bi-name="learn-homepage-cta-browse" data-linktype="absolute-path">Browse learning paths</a>
    </div>
  </div>
</div>
